@{
    ViewData["Title"] = "Giới thiệu";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Đây là ví dụ đóng gói ASP.net MVC Core 2.x vào Docker image</p>
<img src="https://carlos.mendible.com/wp-content/uploads/2016/09/dotnetdocker.jpg">