@{
    ViewData["Title"] = "Liên hệ";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Techmaster Vietnam<br />
    14 ngõ 4 Nguyễn Đình Chiểu<br />
    <abbr title="Phone">Phone: 0902209011</abbr>
</address>

<address>
    <strong>Hỗ trợ:</strong> <a href="mailto:cuong@techmaster.vn">cuong@techmaster.vn</a>
</address>
